/* div.background-img{
    background-image : url('./HP_Img_2.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    height:100vw;
    opacity: 80%;
} */
div.navbar{
    display:flex;
    justify-content:center;
    gap:50px;
    background-color: #1A1C20;
    height:50px;
    align-items:center;
}
div.navbar>a{
    color:white;
    text-decoration: none;
}
button.auth{
    max-height:20px;
}
div.navbar.image{
    align-self:flex-start;
    border:2px solid red;
}